html,
body {
  height: 100%;
  margin: 0;
  background: black;
}

/*style for dvd */
#circle{
    width:50%;
    height: 50%;
    background:black;
  }
p{
  text-align:center;
  color:yellow;
  }
.dvd{
  animation:dvd 5s linear 100;
  }
 @keyframes dvd{
    0%{
      transform:translate(10vw,5vh);

      }
    25%{
       transform:translate(20vw,15vh);

      }
    50%{
       transform:translate(5vw,20vh);

      }
     75%{
       transform:translate(25vw,1vh);


       }
   100%{
      transform:translate(10vw, 5vh);

      }
   }

#phone {
  width: 55%;
  margin-bottom: auto;
}
#speakers {
  width: 70%;
}
#synth {
  width: 100%;
  align: center;
}
#cassette {
  float: right;
  width: 80%;
}
#camera {
  padding-top: 0vh;
  width: 60%;
  float: right;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
padding-top: 5vh;
padding-bottom: 5vh;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 auto;
}
.spotify {
  display: none;
}
.instagram {
  display: none;
}
