@import url('https://fonts.googleapis.com/css?family=Roboto');
@media only screen and (min-width: 600px) {
  html,
  body {
    height: 100%;
    margin: 0;

  }

}
body {

  background-repeat: no-repeat;
    background-size: 100% 100%;
}
.menu {
  display: block;
margin-left: auto;
margin-right: auto;
display: none;
}
#phone {
  width: 35%;
  margin-bottom: auto;
}
#speakers {
  width: 65%;
}
#synth {
  width: 80%;
  padding-top: 15%;
}
#cassette {
  width: 80%;
}
#camera {
  padding-top: 0vh;
  width: 60%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
padding-top: 5vh;
padding-bottom: 5vh;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 auto;
}
.youtube {
  display: none;
  overflow-y: scroll!important;
  position:relative;
  height: 300px;
}
.spotify {
  display: none;
}
.instagram {
  display: none;
}
.contact {
  display: none;
}
.contact2 {
  display: table!important;
  height: 100%;
  padding-left: 10%
}
.wordBlock {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  color: #ff7600;
  opacity: 0.75;

  display: table-cell;
  vertical-align: middle;
  text-align: center;

}
.gigs{
  display: none;
}
#tiger{
  width: 70%;
}
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#logo {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.emails {
  width: 40%;
  float: left;
}
//splashpage

.btn{
    position: fixed;
    width: 100%;
    padding: 20px;
}
button {
  background: none;
  border: none;
}
#myVideo {
  position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
z-index: -1;
}
.mute {
  position: fixed;
   background: rgba(0, 0, 0, 0);
   color: #f1f1f1;
   padding: 20px;
   border: none;
}

.splash{
  display: table;
  height: 100%
}
.logoBox {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#dates {
  width: 100%;
}

/* width */
::-webkit-scrollbar {

    color: rgba(255,118,0, 0.5)!important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255,118,0, 0.5)!important;
}


@media only screen and (max-width: 600px) {
    body {

    }
    #phone {
      width: 50%;
      margin-bottom: auto;
    }
    #speakers {
      width: 80%;
      float: right;
    }
    #mic {
      width: 100%;
    }
    #cassette {
      float: left;
      width: 100%;
    }
    #camera {
      padding-top: 0vh;
      width: 80%;
      float: right;
    }

    .wordBlock {
      font-size: 8vw;

    }
}
